@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
body {
  font-family: Spartan, sans-serif;
  font-size: 15px;
  margin: 20px 10px;
  padding: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/images/bg-pattern-top-mobile.svg) top left no-repeat, url(/images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

h1 {
  color: #502050;
  font-weight: 700;
}

.about {
  color: #937b92;
}

.rating-block {
  background-color: #f7f2f7;
  color: #502050;
  font-weight: 700;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.rating-block .stars {
  margin: 5px;
}

.bottom-section {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews {
  background-color: #502050;
  color: #f7f2f7;
  border-radius: 5px;
  margin: 10px;
  padding: 25px;
  text-align: left;
  font-size: 0.8rem;
}

.reviews .reviewTitle {
  font-weight: 700;
  display: inline-block;
}

.reviews .reviewTitle span {
  color: #ee68a4;
  font-weight: 400;
}

.reviews .reviewerImg {
  border-radius: 50px;
  width: 30px;
  margin-right: 10px;
}

@media only screen and (min-width: 1440px) {
  body {
    text-align: left;
  }
  h1 {
    font-size: 45px;
  }
  .top-section {
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .intro {
    width: 30vw;
  }
  .ratings {
    width: 45vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .ratings .rating-block {
    width: 55%;
  }
  .ratings .rating-block .stars {
    display: inline;
  }
  .ratings #block1 {
    margin-left: 110px;
  }
  .ratings #block2 {
    margin-left: 160px;
  }
  .ratings #block3 {
    margin-left: 210px;
  }
  .reviews {
    margin-right: 20px;
    width: 290px;
    height: 150px;
  }
  #irene {
    margin-top: 20px;
  }
  #anne {
    margin-top: 40px;
  }
}
